# Distribution and target #
target/
lib/
dist/
docs/
s3/
website/
*.iml
# Eclipse files #
.settings/
.project
.classpath
.DS_Store
.factorypath
dependency-reduced-pom.xml
# Svn
.svn
# python
*.pyc
*.log
.idea
pyvenv
/bin
